body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-color: white;
}

#navbar {
	position: fixed;
	width: 100%;
	height: 10%;
	text-align: center;
	z-index: 5;
}

#navbar #nav {
	height: 120%;
	margin-bottom: 1%;
	background-color: rgba(255, 255, 255, 1);
}

nav {
	display: inline-block;
	text-align: left;
	width: 60%;
	margin: 0 auto;
}

#title {
	padding-top: 4%;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #17202A;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	font-weight: 400;
	float: left;

}

#title:hover {
	opacity: 0.4;
}

.pages {
	font-size: 18px;
	text-align: right;	
	padding-top: 6%;

}

.pages #uiux, #graphicdesign, #photos, #about {
	margin-left: 4%;
	text-decoration: none;
	color: #5D6D7E;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;

}

#uiux:hover, #graphicdesign:hover, #photos:hover, #about:hover {
	opacity: 0.4;
}

.container {
	padding-top: 12%;
	width: 60%;
	margin: 0 auto;	
}

#bio-short {
	margin: 0 auto;
	margin-bottom: 7%;
	text-align: left;
	text-decoration: none;
	font-size: 18px;
	font-weight: 300;

}

.links {
	text-decoration: none;
	color: #F08080;

}

#work {
	margin: 0 auto;
	position: relative;
}

.box {
	position: relative;
	width: 100%;
}

.ux {
	width: 100%;
	margin-bottom: 2%;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	background-color: white;
	cursor: pointer
}

.box:hover .overlay {
	opacity: 0.75;
}

.overlay-two {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	background-color: white;
	cursor: pointer;
}

.box:hover .overlay-two {
	opacity: 0.4;

}

.description {
	font-size: 30px;
	color: #17202A;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: 0 auto;
	top: 44%;
	text-decoration: none;
	visibility: hidden;

}

.box:hover .description {
	visibility: visible;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;

}

/*photos page*/

/*
.column {
	width: 49.5%;
	float: left;
}

#column-one {
	padding-right: 1%;

}

.photo {
	width: 100%;
	padding-bottom: 1%;

}

.photo:hover {
	opacity: 50%;
}

.overlay2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	background-color: white;
	cursor: pointer


}

*/

.box:hover .overlay2 {
	opacity: 0.75;

}



#block {
	width: 30%;
	height: 500px;
	float: left;
	padding-right: 6%;

}

#me {
	width: 100%

}

#aboutme {
	width: 100%;


}

#bodytext {
	color: #5D6D7E;
	line-height: 30px;
	font-size: 15px;

}
.element {
	padding-top: 1%;
	width: 60%;
	margin: 0 auto;	
}

.socialmedia {
	margin-top: 4%;
	margin-bottom: 7%;
	word-spacing: 5px;
	font-size: 15px;
	text-align: right;

}

.link {
	text-decoration: none;
	color: #F08080;

}

.product {
	font-size: 30px;
	text-align: left;
	padding-bottom: 1%;
}

.product#subbook {
	color: #85ceba;
}

.tools {
	font-size: 15px;
	text-align: left;
	padding-bottom: 1%;
	color: #5D6D7E;

}

.line {
	height: 0.25px;
	background-color: #5D6D7E;
	border-bottom:1px solid #5D6D7E;
	margin-bottom: 3%;

}

.explanation {
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 3%;
}


.heading {
	font-size: 25px;
	color: #85ceba;
	margin-bottom: 3%;
}

@media only screen and (min-width : 651px) {
}


@media only screen and (max-width : 850px) {
	nav {
		width: 80%;
	}

	#navbar #nav {
		height: 60%;
		margin-bottom: 1%;
	}

	#title {
		font-size: 20px;
	}

	.content {
		padding-top: 20%;
		width: 80%;
	}

	.pages {
		font-size: 11px;
		padding-top: 6%;
	}

	#bio-short {
		font-size: 10px;

	}
	.description {
		font-size: 15px;
	}

	.photo {
		padding-bottom: .5%;
	}

	#block {
		height: 100vh;
		z-index: 2;
		position: relative;
	}

	.socialmedia {
		font-size: 8px;
		margin-top: 5%;
		margin-bottom: 5%;
		word-spacing: 5px;
		position: absolute;
	}

	#bodytext {
		line-height: 15px;
		font-size: 9px;

	}

	.element {
		width: 100%;
	}

	.product {
	font-size: 18px;

	}

	.tools {
	font-size: 12px;

	}
	.explanation {
	font-size: 10px;
	line-height: 20px;
	margin-bottom: 3%;

	}
	.heading {
	font-size: 18px;
	}

	.line {
	height: 0.1px;
	background-color: #5D6D7E;
	border-bottom:1px solid #5D6D7E;
	margin-bottom: 3%;

	}
}

	
	
